<div class="container">

  <h2>Age Category</h2>

  <form>
    <div class="row">

      <div class="input-column">
        <mat-form-field appearance="outline">
          <mat-label>Age</mat-label>
          <input
            matInput
            type="number"
            inputmode="numeric"
            min="0"
            max="150"
            step="1"
            [formControl]="age"
            required
            (input)="onInput()"
          />

          <!-- (input)="onInput()" - is bombing backend with requests. consider smth like that:-->
          <!--            (blur)="submit()"-->
          <!--            (keydown.enter)="submit()"-->

          <mat-hint>Enter a whole number between 0 and 150</mat-hint>

          <ng-container *ngIf="age.invalid">
            <mat-error *ngIf="age.hasError('required')">Age is required</mat-error>
            <mat-error *ngIf="age.hasError('pattern')">
              Only whole numbers are allowed
            </mat-error>
            <mat-error *ngIf="age.hasError('min')">Age must be at least 0</mat-error>
            <mat-error *ngIf="age.hasError('max')">Age must be at most 150</mat-error>
          </ng-container>
        </mat-form-field>
      </div>
      <span *ngIf="result()">{{ result()!.categoryDisplayValue }}</span>
    </div>
  </form>

</div>
